@font-face {
  font-family: 'DIN Condensed Bold';
  src: url('https://github.com/nuriarojo/Caiena/blob/main/DIN%20Condensed%20Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Inter-VariableFont_slnt,wght';
  src: url('https://github.com/nuriarojo/Caiena/blob/main/Inter-VariableFont_slnt%2Cwght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
